		<ul class="menu">
			<li class="menu"><a href="/news.html">News</a></li>
			<li class="menu"><a href="/about.html">About</a></li>
			<li class="menu"><a href="/features.html">Features</a></li>
			<li class="menu"><a href="/downloads.html">Downloads</a></li>
			<li class="menu"><a href="/development.html">Development</a></li>
			<li class="menu"><a href="/faq.html">FAQ</a></li>
			<li class="menu"><a href="/contact.html">Contact</a></li>
			<li class="menu"><a href="/credits.html">Credits</a></li>
		</ul>