<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Anathema: Harmonic Exalted Management</title>
<meta name="description" content="Anathema is a free toolkit for White Wolf's RPG 'Exalted'" />
<meta name="keywords" content="Exalted RPG Character Generator Management Sheets"/>
<link href="/styles.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/latestTag.js" type="text/javascript"></script>
<script language="JavaScript">
	image = new Image(); image.src = "/images/link_external2.gif";
</script>
<link href="https://plus.google.com/100081329725550540811" rel="publisher" />
</head>

<body bgcolor="#000000" text="#DDDDDD" link="#F7C00B" vlink="#F7C00B" alink="#F7C00B"
	MARGINWIDTH="0" MARGINHEIGHT="0" TOPMARGIN="0" LEFTMARGIN="0">
<a href="http://github.com/anathema/anathema"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

<table width="780" align="left" valign="top" height="100%" cellpadding="0" cellspacing="0" border="0">
<TR height="111">
	<TD width="165" align="right"><IMG SRC="/images/top_01.gif" valign="top"></td>
	<TD width="615" align="left"><IMG SRC="/images/top_02.gif" valign="top"></td>
</tr>
<TR height="42">
	<TD width="165" align="right"><IMG SRC="/images/top_03.gif" valign="top"></td>
	<TD width="615" align="left" background="/images/top_04.gif">
	<h1>{{ page.title }}</h1></td>

</tr>
<TR>
	<TD valign="top" id="menu">

		<h2 class="menu">Navigation</h2>
		{% include _header_navigation.html %}

		<h2 class="menu">Links</h2>
		{% include _header_links.html %}

		<h2 class="menu">Support</h2>
		{% include _header_support.html %}

	</td>
