<ul class="menu">
	<li class="image"><a href="http://www.sourceforge.net"><img width="88" height="31" src="http://sourceforge.net/sflogo.php?group_id=122320&amp;type=1" id="SourceForge.net" alt="SourceForge.net" align="top" /></a></li>
	<li class="image"><a href="http://www.ej-technologies.com/products/jprofiler/overview.html"><img width="88" height="31"src="/images/jprofiler.gif" id="JProfiler" alt="JProfiler" align="top" /></a></li>
    <li class="image"><a href="https://plus.google.com/100081329725550540811?prsrc=3" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></li>
</ul>